<header class="flex row justify-fs align-items-ctr sticky sticky-direction-top">
    <a href="../index.html" class="logo button-a flex flex-inherit align-items-fe nowrap">
        <img src="../static/icons/LOGO_Transparent.svg" alt="logo">
        <h2>roductivity</h2>
        <h2>Connect</h2>
    </a>
    <nav class="flex flex-inherit">
        <a class="button-a" href="./calendar.html"><img src="../static/icons/my_team.svg" alt="my_team">My Team</a>
        <a class="button-a" href="./calendar.html" class="active"><img src="../static/icons/calendar.svg" alt="calendar">Calendar</a>
        <a class="button-a" href=""><img src="../static/icons/files.svg" alt="files">Files</a>
        <a class="button-a" href=""><img src="../static/icons/message.svg" alt="message">Message</a>
        <a class="button-a" href=""><img src="../static/icons/meeting.svg" alt="meeting">Meeting</a>
    </nav>
    <div class="login flex flex-inherit">
        <time id="clock" datetime="">12:00 P.M.</time>
        <button class="iconfont">&#xe65f; My Account</button>
    </div>
</header>